
body {
    background-color: #bfc7ee;
    background-size: cover;
    background-image: url(images/wave.gif);
    backdrop-filter: blur(30px);
}
h1{
    font-family: "Didot", serif; 
    font-size: 50px;
     color: #291a00; 
    text-align: center; 
    margin-top: 20px;
}

h2{
    font-family: "Bradley Hand", cursive; 
    font-size: 40px;
     color: #32066e; 
    text-align: center; 
    margin-top: 20px;
}

main{
    font-family: "American Typewriter", monospace; 
    font-size: 25px;
     color: #291a00; 
    text-align: center; 
    margin-top: 20px;

}
p { 
    font-family: "American Typewriter", monospace;
    margin-right: 10px; 
    margin-left: 10px;
    padding: 10px;
    color: #291a00;
    font-weight:300;
}
img{ 
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
}

div{
    border: solid;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;  
    display: flex; 
    backdrop-filter: blur(10px); 
    background-color: rgba(104, 141, 166, 0.5); 
    color: #fff;

}
#welcome {
    width: 400px;
    height: 200px;
    display: flex;
    color:#291a00
}

.button {
    background-color:#bfc7ee;
    color: #291a00;
    padding: 10px 20px;
    border: solid #320c6e;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
}
#desktopApps {
text-align: center;
padding: 10px; 
border-radius: 10px;
height: 80px;
height: 80px;
width: 80px;

}

#window {
    width: 400px;
    height: 200px;
    display: flex;
    color:#2d7349a3
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #379185c1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.selected {
background-color: #001f61cb; 
}

.photoicon {
    text-align: center;

}

.photo {
    font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    margin: 16px;
    border-radius: 16px;
    background-color: #0008ff9c; 
    text-align: center;
    padding: 20px;
    display: flex;
    cursor: pointer;
    top: calc(50% - 90px); 
    left: calc(50% - 180px);

}

.photo2 {
    font-family: "Bookman Old Style", serif;
    padding: 15px;
    border-radius: 20px;
    display: none;
    backdrop-filter: blur(15px);
    width: auto;
    height: 80px;
    text-align: center;
}

.bottom {
    font-family: "Courier New", monospace;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #917037;
    display: flex;
    justify-content: center;
    align-items: center;
}
.end {
    font-family: "Courier New", monospace;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}